<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Song</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    
</head>
<body>

	<h1>Song lyrics</h1>
	
	
	<a href="/songlist">Back to songlist</a>
	
	<form th:object="${song}">
	
		<input type="hidden" id="id" th:field="*{id}" />
			
		
		<label for="title">lyrics</label>
		<input type="text" id="title" th:field="*{lyrics}" class="form-control" />
		<div style="clear: both; display: block; height: 10px;"></div>
		
	
	</form>

</body>

</html>