<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
	</head>
		<Title>Songlist</Title>
		<meta http-equiv="content-type" content="text/html" charset="UTF-8">
	
	<body>
	
		<h1>Hello Thymeleaf</h1>
		
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
		
		<table class="table-striped">
			<tr>
				<th>title</th>
				<th>lyrics</th>
			</tr>
			
			<tr th:each = "song : ${songs}">
			<td th:text = "${song.title}"></td>
			<td th:text = "${song.lyrics}"></td>
			<td><a th:href="@{/edit/{id}(id=${song.id})}">Edit</a></td>
			<td><a th:href="@{/delete/{id}(id=${song.id})}"
			 class="btn btn-xs btn-danger">Delete</a></td>
			</tr>
		
		</table>
		
		<a href="/add">Add some songs</a>
	
	
	
	</body>

</html>